<!doctype html>
<html lang="en" class="no-js"> 
<head>
<title>Dark Velvet | Index</title>

<!-- main JS libs -->
<script src="{{ asset('themes/dark-velvet/dark-velvet-css/js/libs/modernizr.min.js') }}"></script>
<script src="{{ asset('themes/dark-velvet/dark-velvet-css/js/libs/jquery-1.10.0.js') }}"></script>
<script src="{{ asset('themes/dark-velvet/dark-velvet-css/js/libs/jquery-ui.min.js') }}"></script>
<script src="{{ asset('themes/dark-velvet/dark-velvet-css/js/libs/bootstrap.min.js') }}"></script>

<!-- Style CSS -->
<link href="{{ asset('themes/dark-velvet/dark-velvet-css/css/bootstrap.css') }}" media="screen" rel="stylesheet">
<link href="{{ asset('themes/dark-velvet/dark-velvet-css/style.css') }}" media="screen" rel="stylesheet">

<!-- scripts -->
<script src="{{ asset('themes/dark-velvet/dark-velvet-css/js/general.js') }}"></script>
<!-- styled select -->
<link rel="stylesheet" href="{{ asset('themes/dark-velvet/dark-velvet-css/css/cusel.css') }}">
<script src="{{ asset('themes/dark-velvet/dark-velvet-css/js/cusel-min.js') }}"></script>
<!-- custom input -->
<script src="{{ asset('themes/dark-velvet/dark-velvet-css/js/jquery.customInput.js') }}"></script>
<script type="text/javascript" src="{{ asset('themes/dark-velvet/dark-velvet-css/js/custom.js') }}"></script>
<!-- Placeholders -->
<script type="text/javascript" src="{{ asset('themes/dark-velvet/dark-velvet-css/js/jquery.powerful-placeholder.min.js') }}"></script>
<!-- Progress Bars -->
<script src="{{ asset('themes/dark-velvet/dark-velvet-css/js/progressbar.js') }}"></script>
<!-- Calendar -->
<link href="{{ asset('themes/dark-velvet/dark-velvet-css/css/jquery-ui-1.8.20.custom.css') }}" rel="stylesheet">
<script src="{{ asset('themes/dark-velvet/dark-velvet-css/js/jquery-ui.multidatespicker.js') }}"></script>
<!-- Graph Builder -->
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
<script type="text/javascript" src="{{ asset('themes/dark-velvet/dark-velvet-css/js/jquery.flot.js') }}"></script>
<script type="text/javascript" src="{{ asset('themes/dark-velvet/dark-velvet-css/js/jquery.flot.resize.js') }}"></script>
<style type="text/css">
    .bs-example{
        margin-right: 0;
        margin-left: 0;
        background-color: #fff;
        border-color: #ddd;
        border-width: 1px;
        border-radius: 4px 4px 0 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
</style>
</head>

<body>
<div class="body_wrap">
    <div class="container">

        <!-- content -->
        <div class="content " role="main">
			<!-- row -->
            <div class="row">
                <div class="col-sm-8">
                    <h6 class="foo">Menu</h6>

                    <!-- Website Menu -->
                    <div class="dropdown-wrap boxed-velvet">
                        <ul class="dropdown inner clearfix">
                            <li class="menu-level-0"><a href="#"><span>Account</span></a></li>
                            <li class="menu-level-0"><a href="#"><span>About Us</span></a>
                                <ul class="submenu-1">
                                    <li class="menu-level-1"><a href="#">Portfolio</a></li>
                                    <li class="menu-level-1"><a href="#">Testimonials</a></li>
                                    <li class="menu-level-1"><a href="#">Contacts</a>
                                        <ul class="submenu-2">
                                            <li class="menu-level-2"><a href="#">Gallery images</a></li>
                                            <li class="menu-level-2"><a href="#">OneByOne Slider</a></li>
                                            <li class="menu-level-2"><a href="#">Video in header</a></li>
                                            <li class="menu-level-2"><a href="#">Image &amp; Video Slider</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-level-0"><a href="#"><span>Settings</span></a>
                                <ul class="submenu-1">
                                    <li class="menu-level-1"><a href="#">Privacy Policy</a></li>
                                    <li class="menu-level-1"><a href="#">Copyright</a></li>
                                    <li class="menu-level-1"><a href="#">Terms of Service</a>
                                        <ul class="submenu-2">
                                            <li class="menu-level-2"><a href="#">Gallery images</a></li>
                                            <li class="menu-level-2"><a href="#">OneByOne Slider</a></li>
                                            <li class="menu-level-2"><a href="#">Video in header</a></li>
                                            <li class="menu-level-2"><a href="#">Image &amp; Video Slider</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-level-0"><a href="#"><span>Log Out</span></a></li>
                        </ul>
                    </div>
                    <!--/ Website Menu -->
                </div>

                <div class="col-sm-4">
                    <h6 class="foo">Search Box</h6>

                    <!-- search widget -->
                    <div class="widget-container widget_search styled boxed-velvet">
                        <div class="inner">
                            <form method="get" id="searchform2" action="#">
                                <div class="clearfix">
                                    <span class="btn btn-small"><input type="submit" id="searchsubmit2" value="Search" /></span>
                                    <div class="input_wrap"><input class="inputField" name="s" id="s2" placeholder="Search..."  value="" type="text" /></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--/ search widget -->
                </div>
            </div>
            <!--/ row --> 
			
            <div class="row">
                <div class="bs-example">
                    <!-- row -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="widget-container widget_profile boxed-velvet">
                        <div class="badge" style="float:right;z-index:1;"></div>
                        <div class="inner">
                            <div class="widget_profile_top clearfix">
                                <div class="avatar"><img src="{{ asset('themes/dark-velvet/dark-velvet-css/images/temp/avatar.png') }}" alt="" /></div>
                                <h5>Victor </h5>
                                <span class="subtitle">single</span>
                                <span>QQ:670865214</span>
                                <span>Phone:670865214</span>
                            </div>
                            <div class="divider dashed"></div>
                            <div style="padding-bottom:1px;font-size:12px;">
                                <p>毕业后，曾在北京上海工作，现居地上海</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="widget-container widget_profile boxed-velvet">
                        <div class="badge" style="float:right;z-index:1;"></div>
                        <div class="inner">
                            <div class="widget_profile_top clearfix">
                                <div class="avatar"><img src="{{ asset('themes/dark-velvet/dark-velvet-css/images/temp/avatar.png') }}" alt="" /></div>
                                <h5>Victor </h5>
                                <span class="subtitle">single</span>
                                <span>QQ:670865214</span>
                                <span>Phone:670865214</span>
                            </div>
                            <div class="divider dashed"></div>
                            <div style="padding-bottom:1px;font-size:12px;">
                                <p>毕业后，曾在北京上海工作，现居地上海</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ row --> 
                </div>
            </div>
			<!-- row -->
        	<div class="row">
        		<div class="col-sm-4">
                    <div class="widget-container widget_profile boxed-velvet">
                        <div class="badge" style="float:right;z-index:1;"></div>
                        <div class="inner">
                            <div class="widget_profile_top clearfix">
                                <div class="avatar"><img src="{{ asset('themes/dark-velvet/dark-velvet-css/images/temp/avatar.png') }}" alt="" /></div>
                                <h5>Victor </h5>
                                <span class="subtitle">single</span>
                                <span>QQ:670865214</span>
                                <span>Phone:670865214</span>
                            </div>
                            <div class="divider dashed"></div>
                            <div style="padding-bottom:1px;font-size:12px;">
                                <p>毕业后，曾在北京上海工作，现居地上海</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="widget-container widget_profile boxed-velvet">
                        <div class="badge" style="float:right;z-index:1;"></div>
                        <div class="inner">
                            <div class="widget_profile_top clearfix">
                                <div class="avatar"><img src="{{ asset('themes/dark-velvet/dark-velvet-css/images/temp/avatar.png') }}" alt="" /></div>
                                <h5>Victor </h5>
                                <span class="subtitle">single</span>
                                <span>QQ:670865214</span>
                                <span>Phone:670865214</span>
                            </div>
                            <div class="divider dashed"></div>
                            <div style="padding-bottom:1px;font-size:12px;">
                                <p>毕业后，曾在北京上海工作，现居地上海</p>
                            </div>
                        </div>
                    </div>
                </div>
        	</div>
        	<!--/ row --> 
        </div>
        <!--/ content -->
    </div>
    <!--/ container -->

</body>
</html>